<!DOCTYPE html>
<html>
<head>
    <title>Supprimer Étudiant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

<h2>Confirmer la Suppression</h2>
<p>Voulez-vous vraiment  <strong>{{ class.name }}</strong> ?</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Oui, Supprimer</button>
    <a href="{% url 'control_panel' %}" class="btn btn-secondary">Annuler</a>
</form>

</body>
</html>
